.home-banner {
    background-image: linear-gradient(to bottom, rgb(100, 64, 251, .4), rgb(11, 24, 74, .5)),
        url(../../assets/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
}


.home-banner .home-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-banner .home-content p {
    padding: 10px 200px;
}

.button-style {
    transition: all linear .3s;
    border-radius: 10px;
}

.button-style:hover {
    background-color: #6440fb !important;
    border-color: #6440fb !important;
    color: white;
}


.navbar button:focus {
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .home-banner .home-content p {
        padding: 10px 30px;
    }

}