.icons {
    cursor: pointer;
    font-size: 30px !important;
    width: 20px;
    height: 20px;

}

.form-container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 30px 50px;
    border-radius: 10px;
}

.form-container .input-field {
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-width: 80%;
    background-color: white;
}

.form-container .input-field:focus {
    outline: none;
}

.form {
    font-size: 16px !important;
}

.login-btn {
    border: 2px solid #6440fb !important;
    border-color: #6440fb !important;
    color: #6440fb !important;
}